<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contato</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3>Contato</h3>
  <ion-list>

  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Mensagem</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>
</ion-content>
