<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Andreata Imobili&aacute;ria</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Im&oacute;veis na Centro do Rio: {{ imoveis.length }}</h3>
  <ion-list>
    <ion-item *ngFor="let imovel of imoveis">
      <ion-thumbnail item-left>
        <img src="{{ imovel?.imagem }}">
      </ion-thumbnail>
      <h2>{{ imovel?.titulo }}</h2>
      <p>{{ imovel?.municipio }} - {{ imovel?.bairro }}</p>
      <div class="valor">
        <h3 clear item-right>R${{ imovel?.valor }}</h3>
      </div>
      <button ion-button clear item-right>Ver</button>
    </ion-item>
  </ion-list>
</ion-content>
